{% extends 'base.html.twig' %}

{% block title %}
	Compte
{% endblock %}

{% block body %}
	<style>
		.fa-arrow-alt-circle-right,
		.fa-heart,
		.fa-sign-out-alt,
		.fa-phone-volume,
		.fa-leanpub,
		.fa-cog,
		.fa-chart-pie {
			color: #2277ff;
			font-size: 25px;
		}
		.profiluser {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			background: #f5f6f6;
			padding: 2%;
			align-items: center;
			flex-wrap: wrap;
		}

		.profiluser2 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			background: #f5f6f6;
			padding: 2%;
			align-items: center;
			flex-wrap: wrap;
		}
		.imgprofiluser {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		.infouser {
			min-width: 300px;
		}

		a.changepassword:hover,
		a.changepassword2:hover {
			color: #000000ab !important
		}

		.newform {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
		}

		.cv,
		.lettre {
			min-width: 300px;
		}

		legend {
			display: none;
		}

		input {
			width: 300px !important;
		}

		textarea {
			border: none !important;
			height: 210px !important;
			width: 300px !important;
		}

		form {
			display: flex;
			justify-content: space-evenly;
			width: 100%;
			margin-bottom: 5%;
			flex-wrap: wrap !important;
		}

		.param {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}

		@media(max-width: 800px) {
			h2.font-weight-bold.display-4 {
				font-size: 14px !important;
			}
		}
	</style>
	<!-- Titre -->

	{% if is_granted('ROLE_FORMATEUR') %}
		<h2 class="font-weight-bold display-4">
			MON
			<span style="color: #2277ff">COMPTE FORMATEUR</span>
		</h2>
		<hr/>
		<br/>
	{% endif %}

	{% if is_granted('ROLE_EMPLOYEUR') %}
		<h2 class="font-weight-bold display-4">
			MON
			<span style="color: #2277ff">COMPTE EMPLOYEUR</span>
		</h2>
		<hr/>
		<br/>
	{% endif %}

	{% if is_granted('ROLE_SIMPLE') %}
		<h2 class="font-weight-bold display-4">
			MON
			<span style="color: #2277ff">COMPTE</span>
		</h2>
		<hr/>
		<br/>
	{% endif %}


	{% if is_granted('ROLE_EMPFORM') %}
		<h2 class="font-weight-bold display-4">
			MON
			<span style="color: #2277ff">COMPTE EMPLOYEUR/FORMATEUR</span>
		</h2>
		<hr/>
		<br/>
	{% endif %}

	<!-- Profil -->

	<div class="profiluser">
		<div class="imgprofiluser">
			{% if app.user.image %}
				<img class="mb-4" src="/uploads/{{ app.user.image }}" alt="Pas d'avatar" width="150px"/>
			{% else %}
				<img class="mb-4" src="{{ asset('img/student.png') }}" alt="Pas d'avatar" width="150px"/>
			{% endif %}
			<p>
				<strong>{{ app.user.firstname }}
					{{ app.user.lastname }}</strong>
			</p>
			<p class="mb-4">
				<strong>{{ app.user.username }}</strong>
			</p>
		</div>

		<div class="infouser">
			{% if is_granted('ROLE_SIMPLE') %}
				<a class="changepassword" href="{{ path('favoris_formation') }}">
					<i class="fas fa-heart"></i>Mes formations favorites
				</a>
				<br/>
				<br/>
				<a class="changepassword" href="{{ path('favoris_emploi') }}">
					<i class="fab fa-gratipay"></i>Mes emplois favoris
				</a>
				<br/>
				<br/>
			{% endif %}

			{% if is_granted('ROLE_FORMATEUR') %}
				<a class="changepassword" href="{{ path('favoris_cvtheque') }}">
					<i class="fab fa-leanpub"></i>Mes CV favoris
				</a>
				<br/>
				<br/>
				{% if is_granted('ROLE_VISIO') or is_granted('ROLE_ADMIN') %}
					<a class="changepassword" href="https://conference.jobissim.com" target="bank">
						<i class="fas fa-phone-volume"></i>Visioconférence
					</a>
					<br/>
					<br/>
				{% endif %}
				<a class="changepassword" href="{{ path('formation_new') }}">
					<i class="fas fa-arrow-alt-circle-right"></i>Déposer une annonce
				</a>
				<br/>
				<br/>
				<a class="changepassword" href="{{ path('stats') }}">
					<i class="fas fa-chart-pie"></i>Statistiques
				</a>
				<br/>
				<br/>
			{% endif %}

			{% if is_granted('ROLE_EMPLOYEUR') %}
				<a class="changepassword" href="{{ path('favoris_cvtheque') }}">
					<i class="fab fa-leanpub"></i>Mes CV favoris
				</a>
				<br/>
				<br/>
				{% if is_granted('ROLE_VISIO') or is_granted('ROLE_ADMIN') %}
					<a class="changepassword" href="https://conference.jobissim.com" target="bank">
						<i class="fas fa-phone-volume"></i>Visioconférence
					</a>
					<br/>
					<br/>
				{% endif %}
				<a class="changepassword" href="{{ path('emploi_new') }}">
					<i class="fas fa-arrow-alt-circle-right"></i>Déposer une annonce
				</a>
				<br/>
				<br/>
				<a class="changepassword" href="{{ path('stats') }}">
					<i class="fas fa-chart-pie"></i>Statistiques
				</a>
				<br/>
				<br/>
			{% endif %}

			{% if is_granted('ROLE_EMPFORM') %}
				<a class="changepassword" href="{{ path('favoris_cvtheque') }}">
					<i class="fab fa-leanpub"></i>Mes CV favoris
				</a>
				<br/>
				<br/>
				{% if is_granted('ROLE_VISIO') or is_granted('ROLE_ADMIN') %}
					<a class="changepassword" href="https://conference.jobissim.com" target="bank">
						<i class="fas fa-phone-volume"></i>Visioconférence
					</a>
					<br/>
					<br/>
				{% endif %}
				<a class="changepassword" href="{{ path('emploi_new') }}">
					<i class="fas fa-arrow-alt-circle-right"></i>Déposer un emploi
				</a>
				<br/>
				<br/>
				<a class="changepassword" href="{{ path('formation_new') }}">
					<i class="fas fa-arrow-alt-circle-right"></i>Déposer une formation
				</a>
				<br/>
				<br/>
				<a class="changepassword" href="{{ path('stats') }}">
					<i class="fas fa-chart-pie"></i>Statistiques
				</a>
				<br/>
				<br/>
			{% endif %}

			<a class="changepassword" href="{{ path('app_logout') }}">
				<i class="fas fa-sign-out-alt"></i>Déconnexion
			</a>
			<br/>
			<br/>
		</div>
	</div>

	<!-- Modifier mon compte -->
	<div class="newform2">
		<h2 class="font-weight-bold display-4" style="font-size: 1em; width: 100%;">
			&nbsp; &nbsp; &nbsp;MODIFIER MON COMPTE
		</h2>
		<div class="profiluser2">
			{{ form_start(form) }}
			<div class="field">
				{{ form_row(form.telephone) }}
				{{ form_row(form.adresse) }}
				{{ form_row(form.ville) }}
				{{ form_row(form.postale) }}
			</div>

			<div class="area">
				{{ form_row(form.about) }}
				{{ form_row(form.submit) }}
			</div>
			{{ form_end(form) }}

			<div class="param">
				<a class="update" href="{{ path('account_password') }}">
					<i class="fas fa-cog"></i>Changer le mot de passe
				</a>
				<br/>
				<br/>
				<a class="update" href="{{ path('account_image') }}">
					<i class="fas fa-cog"></i>Changer l'image de profil
				</a>
				<br/>
				<br/>
				{% if is_granted('ROLE_FORMATEUR') or is_granted('ROLE_EMPLOYEUR') or is_granted('ROLE_EMPFORM') %}
					<a class="update" href="{{ path('subscription') }}">
						<i class="fas fa-cog"></i>Souscrire un abonnement
					</a>
				{% else %}
					<div class="mr-5"></div>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- Seconde partie -->

	<div class="newform">
		{% if is_granted('ROLE_SIMPLE') %}
			<div class="cv">
				{% if app.user.cv %}
					<p>
						Télécharger votre cv :
					</p>
					<a class="changepassword2" href="/uploads/{{ app.user.cv }}" download>
						cv.pdf
					</a>
				{% else %}
					<p>
						Déposer votre cv :
					</p>
					<p>
						Aucun fichier deposé
					</p>
				{% endif %}
			</div>

			<div class="cv">
				<a class="changepassword" href="{{ path('account_cv') }}">
					<button class="btn btn-primary">DÉPOSER</button>
				</a>
			</div>
		{% endif %}

		{% if is_granted('ROLE_EMPLOYEUR') %}
			<div class="cv">
				<a class="changepassword">
					<i class="fas fa-arrow-alt-circle-right"></i>Télécharger les contrats
				</a><br/>
				<br/>
				<a class="changepassword2" href="/contrats/CGV.pdf" download>
					Contrat.PDF
				</a>
			</div>

			<div class="cv">
				<a class="changepassword">
					<i class="fas fa-arrow-alt-circle-right"></i>Résilier mon abonnement
				</a><br/>
				<br/>
				<a
					class="changepassword2" href="{{ path('stop') }}">
					{# <a class="changepassword2" href="{{ path('cancelabo') }}"> #}
					Faire la demande
				</a>
			</div>
		{% endif %}

		{% if is_granted('ROLE_FORMATEUR') %}
			<div class="cv">
				<a class="changepassword">
					<i class="fas fa-arrow-alt-circle-right"></i>Télécharger les contrats
				</a><br/>
				<br/>
				<a class="changepassword2" href="/contrats/CAA.pdf" download>
					Contrat.PDF
				</a>
			</div>

			<div class="cv">
				<a class="changepassword">
					<i class="fas fa-arrow-alt-circle-right"></i>Résilier mon abonnement
				</a><br/>
				<br/>
				<a
					class="changepassword2" href="{{ path('stop') }}">
					{# <a class="changepassword2" href="{{ path('cancelabo') }}"> #}
					Faire la demande
				</a>
			</div>
		{% endif %}

		{% if is_granted('ROLE_EMPFORM') %}
			<div class="cv">
				<a class="changepassword">
					<i class="fas fa-arrow-alt-circle-right"></i>Télécharger les contrats
				</a><br/>
				<br/>
				<a class="changepassword2" href="/contrats/CAA.pdf" download>
					Contrat AA.PDF
				</a> &nbsp;
				<a class="changepassword2" href="/contrats/CGV.pdf" download>
					Contrat CGV.PDF
				</a>
			</div>

			<div class="cv">
				<a class="changepassword">
					<i class="fas fa-arrow-alt-circle-right"></i>Résilier mon abonnement
				</a><br/>
				<br/>
				<a
					class="changepassword2" href="{{ path('stop') }}">
					{# <a class="changepassword2" href="{{ path('cancelabo') }}"> #}
					Faire la demande
				</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
