{% extends 'base.html.twig' %}

{% block title %}Contrat
{% endblock %}

{% block body %}

	<style>
        .newform {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
			flex-wrap: wrap;
        }
        legend {
            display: none;
        }
		.btn.btn-primary {
			height: 36.5px;
		}
	</style>


	<h2 class="font-weight-bold display-4 ">CONTRAT
		<span style="color: #2277ff">D'APPORTEUR D'AFFAIRES</span>
	</h2>
	<hr>

	<p class="mt-5">Afin de pouvoir déposer des offres de formation, nous vous prions de bien vouloir télécharger, lire et signer les Contrats d'apporteur d'affaires ci-dessous.</p>

	<div class="newform mt-4">
		<div class="infop">
			<h6 class="mb-3 ml-1">Télécharger Contrat d'apporteur d'affaires</h6>
			<a class="changepassword2" syle="background-color: grey !important;" href="/contrats/CAA.pdf" download>
				Contrat d'apporteur d'affaire.PDF
			</a>
		</div>
		{{ form_start(form) }}
            <h6 class="mt-3">Déposer les Contrat d'apporteur d'affaires (signés en PDF)</h6>
        {{ form_row(form.cvFile) }}
			<div class="mb-3 mt-3 form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1" required>
				<label class="form-check-label" for="exampleCheck1" style="font-size: 10px;">J'atteste avoir pris connaissance des conditions et informations générales mentionnées ci-dessus.</label>
			</div>
        {{ form_row(form.submit) }}
		{{ form_end(form) }}
	</div>

	<a href="{{ path('subscription') }}">
		<button class="btn btn-info mt-3">Retour</button>
	</a>
{% endblock %}
